@import 'tailwindcss';

:root {
  --cl-white: #fff;
  --white: #f3e6ff;
  --cl-purple: #7c3aed;
  --light-pur: #8d37e2;
  --dark-pur: #6e1bb0;
  --dark: #0f172a;
  --gray: #64748b;
  --light-gray: #f8fafc;
  --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 10px 30px -5px rgba(0, 0, 0, 0.08);
  --shadow-3d:
    2px 2px 0px rgba(0, 0, 0, 0.1), 4px 4px 0px rgba(0, 0, 0, 0.08),
    6px 6px 0px rgba(0, 0, 0, 0.05), 8px 8px 15px rgba(0, 0, 0, 0.15);
  --border: #e2e8f0;
  --accent: #d946ef;
  --gradient-text: linear-gradient(to right, #8d37e2, #d946ef);
  --icons: #cbd5e1;
  --font-main: 'Poppins', sans-serif;
}
body {
  /* background-color: var(--cl-purple); */
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

/* .blinker {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* 
  Animation
*/
.animate-marquee {
  animation: marquee 8s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

/* Setup Card */
.setup-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.setup-card:hover {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid var(--light-pur);
}
